---
Checks: "*,
		-clang-diagnostic-c++98-c++11-c++14-compat,
		-clang-diagnostic-c++98-c++11-compat,
		-clang-diagnostic-c++98-compat*,
		-clang-diagnostic-missing-prototypes,
		-clang-diagnostic-pragma-once-outside-header,
		-clang-diagnostic-pre-c++20-compat*,
		-clang-diagnostic-unused-macros,
		-misc-non-private-member-variables-in-classes,
		-modernize-use-nullptr,
        -abseil-*,
        -altera-*,
        -android-*,
        -bugprone-suspicious-include,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -fuchsia-*,
        -google-*,
        -hicpp-use-nullptr,
        -llvm*,
        -modernize-use-trailing-return-type,
        -readability-avoid-const-params-in-decls,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -zircon-*,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'
